{{> head title="Admin" }}
   
	<div class="max-w-full  bg-gray-800 py-12 relative">
		<h1 class="text-5xl pl-8 text-gray-500 mb-4">Admin</h1>
		<h3> Name: {{ user.name }} </h3>
	</div>

	</body>
</html>